html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.data-section {
  display: grid;
  grid-template-columns: fit-content(200px) 1fr;
  font-size: 1.1rem;
}

.data-section h3 {
  margin: 0;
  padding: 5px;
  font-size: 1.1rem;
}

.data-section .data-item__data {
  padding: 5px;
}

.file-grid {
  display: grid;
  margin: 20px 0;
  grid-template-columns: 1fr 1fr;
}

.row-data {
  border: 1px solid #c0c0c0;
  padding: 10px;
}

.cell {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}